.fullMap {
    margin-top: 40px;
}

.full_map {
    height: 100vh;
    width: 100%;
}

.form_lat {
    padding: 20px;

}

.latN {
    margin-bottom: 10px;
}

.latNa {
    font-size: 15px;
    margin-bottom: 5px;
}

.latLButton {
    margin-top: 20px !important;
    background-color: gray !important;
    color: white !important;
}

.fillLL {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: aliceblue;
}

.addMan {
    margin-bottom: 20px;
    font-size: 18px;
    color: rgb(49, 62, 62);
}

.LatTT {
    margin-bottom: 15px;
}

.latName {
    margin-bottom: 15px;
}

.acname {
    font-size: 14px;
    margin-bottom: 2px;
}

.latGeoN {
    margin-bottom: 15px;
}

.latGeoN>label {
    margin-right: 30px;
    font-size: 15px;
}

.latlongSave {
    background-color: gray !important;
    color: white !important;
    margin-top: 10px !important;
    width: 100px !important;
}

.islands{
    position: absolute;
    top: 10%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dynamicIsland{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    border-radius: 30px;
}

.dynamicIsland>button:nth-of-type(n+1):not(.dynamicIsland>button:nth-of-type(4)){
    background-color: rgba(255, 255, 255, 0.957);
    border-color: transparent;
    margin-right: 20px;
    width:20%;
    height: 80%;
    font-size: 100%;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.dynamicIsland>button:nth-of-type(4){
    transition: ease-in-out 1s;
    background-color: rgba(255, 255, 255, 0.957);
    border-color: transparent;
    width:20%;
    height: 80%;
    font-size: 100%;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.fullMapContainer{
    position: relative;
}

#rainfall{
    background-color: white;
}